*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Poppins,sans-serif;
}

body{

background:#050816;
color:white;
overflow-x:hidden;

}

.background-glow{

position:fixed;
width:600px;
height:600px;
background:#7c3aed;
filter:blur(180px);
opacity:.25;
top:-200px;
right:-150px;

}

.navbar{

display:flex;
justify-content:space-between;
align-items:center;
padding:20px 8%;

}

.logo{

font-size:28px;
font-weight:bold;
color:#8b5cf6;

}

.navbar ul{

display:flex;
gap:30px;
list-style:none;

}

.navbar a{

color:white;
text-decoration:none;

}

.active{

color:#8b5cf6;

}

.hero{

display:flex;
align-items:center;
justify-content:space-between;
padding:80px 8%;

}

.hero-left{

width:50%;

}

.hero-left h1{

font-size:60px;
margin-bottom:25px;

}

.hero-left span{

color:#8b5cf6;

}

.hero-left p{

line-height:32px;
font-size:18px;
margin-bottom:30px;

}

.btn{

padding:15px 35px;
background:#8b5cf6;
color:white;
text-decoration:none;
border-radius:40px;
transition:.4s;

}

.btn:hover{

background:#6d28d9;

}

.hero-right{

position:relative;

}

.hero-right img{

width:430px;

animation:float 4s infinite ease-in-out;

}

.circle{

position:absolute;
width:350px;
height:350px;
background:#8b5cf6;
filter:blur(120px);
z-index:-1;

}

@keyframes float{

0%{transform:translateY(0);}
50%{transform:translateY(-20px);}
100%{transform:translateY(0);}

}

.about,
.features,
.why{

padding:90px 8%;

text-align:center;

}

.about h2,
.features h2,
.why h2{

font-size:40px;
margin-bottom:25px;

}

.about p{

max-width:900px;
margin:auto;
line-height:34px;
font-size:18px;

}

.cards{

display:grid;
grid-template-columns:repeat(auto-fit,minmax(260px,1fr));
gap:30px;
margin-top:50px;

}

.card{

background:#111827;
padding:40px;
border-radius:20px;
transition:.4s;

}

.card:hover{

transform:translateY(-12px);

background:#1e293b;

}

.icon{

font-size:50px;
margin-bottom:20px;

}

.card h3{

margin-bottom:15px;

}

.why-grid{

display:grid;
grid-template-columns:repeat(auto-fit,minmax(240px,1fr));
gap:30px;
margin-top:40px;

}

.why-grid div{

background:#111827;
padding:35px;
border-radius:20px;

}

footer{

padding:50px;
text-align:center;
background:#0f172a;

}

footer h2{

color:#8b5cf6;
margin-bottom:15px;

}